*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23323233' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23646566' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23969799' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23c8cacc' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FAFCFF' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;    
    color: whitesmoke;
}

.contenedor{
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: auto;
    margin-top: 4vh;    
    padding: 30px;
}

.cards{
    display: flex;  
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}

hr{
    justify-content: center;
    width: 75%;
    background-color: whitesmoke;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
}

h1{
    margin: auto;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 4vw;
    font-family: 'Literata', serif;
}

.row1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 100%;
}

.firstwo{
    display: flex;
    flex-flow: row nowrap;
    flex:1 0 70%;
}

.third{
    display: flex;
    flex:1 0 30%;
    min-width: 200px;

}

.card{
    flex-flow: row wrap;
    display: flex;
    flex-basis: 100%;
    margin: 2px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    text-align: center;
}

.firstwo .card{
    background-color: #F07D0075;
}

.c3{
    flex-basis: 100%;
    background-color: #3ABFF075;
}

.ima{
    width: 50%;
    margin-top: 30px;
}

img{
    width: 100%;
    border-radius: 50%;
}

.name{
    width: fit-content;
    margin: auto;
    font-size: 30px;
}

.pos{
    width: fit-content;
    margin: auto;
    font-size: 20px;
    margin-bottom: 30px;
}

.txt{
    width: fit-content;
    margin: auto;
    font-size: 20px;
    margin-bottom: 30px;

}


.socials{
    display: flex;
    flex-flow: row nowrap;
    background-color: grey;
    width: 100%;
    justify-content: center;
    font-size: 40px;
}   

.fall{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
    z-index: -1;
    background-color: blue;
}