*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23323233' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23646566' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23969799' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23c8cacc' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FAFCFF' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;    
    color: whitesmoke;
}

.contenedor{
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: auto;
    margin-top: 4vh;    
    padding: 30px;
}

.cards{
    display: flex;  
    flex-flow: row wrap;
    width: 90%;
}

hr{
    justify-content: center;
    width: 75%;
    background-color: whitesmoke;
    height: 4px;
    border-radius: 2px;
    font-weight: 100;
    margin-bottom: 5vh;
}

h1{
    margin: auto;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 4vw;
    font-family: 'Literata', serif;
}

.firstwo{
    display: flex;
    width: 70%;
}

.third{
    display: flex;
    width: 30%;
}


.card{
    flex-flow: column wrap;
    display: flex;
    padding:15px;
    background-color: white;
    width: 35vw;
    height: 20vh;
    margin: 2px;
}

.c1{
    justify-content: space-between;
    align-items: center;
}

.c2{
    justify-content: space-between;
    align-items: center;
}

.c3{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.c4{
    justify-content: space-between;
    align-items: center;

}


.c5{
    justify-content: space-between;
    align-items: center;
}

.c6{
    justify-content: space-between;
    align-items: center;

}
