*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: whitesmoke;
    background-color: #111111;
}

.contenedor{
    width: 90vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: auto;
    margin-top: 4vh;    
}

.cards{
    display: flex;  
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

hr{
    justify-content: center;
    width: 75%;
    background-color: whitesmoke;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    transform: rotateY(90deg);
    transition: all 2000ms;
}

h1{
    margin: auto;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 4vw;
    font-family: 'Literata', serif;
}

.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 100%;
}

.firstwo{
    display: flex;
    flex-flow: row nowrap;
    flex:1 0 75%;
}

.third{
    display: flex;
    flex:1 0 20%;
    min-width: 200px;

}

.card{
    flex-flow: row wrap;
    display: flex;
    flex-basis: 100%;
    margin: 10px;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 0;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #1a1a1a;
    transition: all 2000ms;
}

.firstwo .card{
    background: rgb(0,204,255);
    background: linear-gradient(218deg, rgba(0,204,255,1) 0%, rgba(188,0,255,1) 0%, rgba(17,17,17,1) 73%);
}


.c3{
    flex-basis: 100%;
    background: rgb(0,204,255);
    background: linear-gradient(218deg, rgba(0,204,255,1) 0%, rgba(255,253,64,1) 0%, rgba(17,17,17,1) 73%);
}

.r2 .c3{
    background: rgb(0,204,255);
    background: linear-gradient(218deg, rgba(0,204,255,1) 0%, rgba(204,20,110,1) 0%, rgba(17,17,17,1) 73%);
}

.r2 .firstwo .card{
    background: rgb(0,204,255);
    background: linear-gradient(218deg, rgba(0,204,255,1) 0%, rgba(20,204,178,1) 0%, rgba(17,17,17,1) 73%);
}

.ima{
    width: 50%;
    margin-top: 30px;
}

img{
    width: 100%;
    border-radius: 50%;
}

.name{
    width: fit-content;
    margin: auto;
    font-size: 30px;
}

.pos{
    width: fit-content;
    margin: auto;
    font-size: 20px;
    margin-bottom: 30px;
}

.txt{
    width: fit-content;
    margin: auto;
    font-size: 20px;
    margin-bottom: 30px;

}


.socials{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 25px;
    transform: rotateX(90deg);
    transform-origin: bottom;
    transition: all 1500ms;

}

.fall{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    animation: sheesh 5s linear;

}

.stick{
    width: 2%;
    background-color: #11111150;
    margin: 0 10px;
}

.s1{
    height: 50%;
}

.s3{
    margin-right: 15vw;
}

.card:hover{
    box-shadow: 0px 0px 20px #555555;
}

.card:hover .socials{
    transform: rotateX(0deg);
}

.card:hover hr{
    transform: rotateY(0deg);
}

.card:hover .fall{
    animation: sheesh 5s linear;
}

.c1{
    box-sizing: border-box;
}

@keyframes sheeesh {
    25%{
        background-color: #11111120;
        top: 25;    
    }

    50%{
        background-color: #11111150;
        top: 50;
    }

    75%{
        background-color: #11111170;
        top: 75;
    }
    100%{
        background-color: #11111190;
        top: 100;
    }
}