*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100%;
    width: 15%;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0.5px 0 5px #171717;
}

.logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.logo p{
    height: fit-content;
    color: #cfa17e;
    text-align: center;
}

.logo img{
    width: 3.5vw;
}

nav{
    font-size: calc(10px + 0.4vw);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 90%;
}

nav a{
    color: #171717;
    text-decoration: none;
    flex-basis: 100%;
    text-align: center;
    padding-top: 30%;
    border-bottom: #171717 1px solid;
}

nav a:active{
    background-color: #383838;
}

nav a:hover{
}

.display{
    font-family: 'Playball', cursive;
}