*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(orange, darkred);
    
}

header{
    height: 15vh;
    text-align: center;
    font-size: 2.5vw;
}

main{
    height: 70vh;
    width: 100vw;
    text-align: center;

}

footer{
    height: 15vh;
    text-align: center;
    color: darkorange;
    font-size: 1.5vw;

}

.prin{
    display: inline-block;
    height:60vh;
    width: 30vw;
    border: 4px solid whitesmoke;
    margin: 0.5vw;
    border-radius: 10px;
}

.prin:hover{
    background-color: indigo;
    transition: background-color 1000ms;
}

.ico{
    text-align: center;
    
}



.text{
    text-align: center;

}

.center{
    text-align: center;
    font-size: 15vw;
    color: whitesmoke;
}

.center:hover{
    color: darkorange;
    transition: color 1000ms;
}