*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #E2E2E2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='444' height='53.3' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23FFFFFF' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

main{
    width: 92%;
    background-color: rgba(128, 128, 128, 0.5);
    margin: auto;
    padding: 3vh 2vw;
}

.titulo1{
    background-color: orange;
    box-sizing: border-box;
    border: indigo 10px solid;
    margin-bottom: 5vh;
    border-radius: 15px;
}

.titulo1 h1{
    color: indigo;
    text-align: center;
    font-size: 4vw;
}

h1{
    font-family: 'Coustard', serif;
}

.titulo2{
    background-color: midnightblue;
    box-sizing: border-box;
    border: mediumpurple 5px solid;
    color: mediumpurple;
    border-radius: 5px;
}

.titulo2 h1{
    font-size: 3vw;
    padding: 1vh;
    padding-left: 1vw;
}